name: Release

on:
  workflow_dispatch:

jobs:
  release:
    name: Publish
    runs-on: ubuntu-latest
    env:
      BASE_URL: /alerta/

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '14'
      - run: npm version
      - run: npm install
      - name: Build artifacts
        id: build
        run: |
          npm run build
          tar cvfz alerta-webui.tar.gz dist/*
      - name: Upload Compressed TAR File
        id: upload-tarball
        uses: actions/Upload-artifact@v4
        with:
          name: alerta-wetron
          path: ./alerta-webui.tar.gz
